* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*  This is for the background color of the page  */
body {
    background-color: #d9dcd6;
}

/*  Here is the styling for our header  */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*  This will be the logo, name changed to 'logo' for better reference  */
.logo{
    display: inline-block;
    font-size: 48px;
}

/*  The logo was broken up in different sections for colorization, this is just to specify that  */
.logo-seo{
    color: #d9dcd6;
}

/*  Nav Bar container Styling  */
#nav-bar {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*  Nav Bar Contents Styling  */
.nav-options {
    list-style-type: none;
}

.nav-options li{
    display: inline-block;
    margin-left: 25px;
}

/*  I decided to leave these unchanged, since it is only the link/ paragraph font/ text styling  */
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/*  Name change here to represent that this is infact the background image  */
.landing-background-img {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*  contents of the mid-sction  */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*  All things in the SEO section  */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.search-engine-optimization img {
    max-height: 200px;
}

/*  All things in the Reputaiton Management section  */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management img {
    max-height: 200px;
}

/*  All things for the Social Media Marketing section  */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing img {
    max-height: 200px;
}


/*  I renamaed the images for the floats, so that it may seem a bit more clear to someone with visual imapirments  */
.left-image {
    float: left;
    margin-right: 25px;
}

.right-image {
    float: right;
    margin-left: 25px;
}

/* here is the container for all of the benefits on the right hand side of the page */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* all things benefit-lead */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* all things benefit-brand */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* all things benefit-cost */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}


.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}



.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/* begin footer styling */

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
    text-align: center;
}
